<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<!-- {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %} -->
		<li><a href="{{ "/" | absolute_url }}">首頁</a></li>
		<li><a href="{{ "/about/" | relative_url }}">關於我們</a></li>
		<li><a href="{{ "/achievements/" | relative_url }}">團隊成果</a></li>
		<li><a href="{{ "/learning/" | relative_url }}">教學資源</a></li>
		<li><a href="{{ "/blog/" | relative_url }}">專欄</a></li>
		<li><a href="{{ "/join/" | relative_url }}">加入我們</a></li>
	</ul>
	<ul class="actions vertical">
		<!-- <li><a href="#" class="button special fit">Get Started</a></li> -->
	</ul>
</nav>
